<!DOCTYPE html>


<html lang="en">

  <head>
    <title>Bad Path </title>
  </head>

<h2>

  Hey there, you seemed of stumbled upon a bad path try typing, 

  <br>
  <br>
  <a href="/home"><b>/home</b></a>

  <br>
  <br>
  
</h2>


  <br>
  <br> <!-- /* //  yes theres a lot of br, brr, broom brrom */ -->
  <br>
  <br>
  <br>
  <br>

  <h3 style="color:grey;"> If a dev of this website, double check for signs of a cat on the keyboard or a  <br> earth sized metor was incovitenly placed within your freezer, and turned into a baby raptor -<br> repograming the entire bitcoin blockchain and adding a typo to the backend code. Terms and Conditions apply (-wrote by Cat the underpiaed dev)</h3>
  <h3 style="color:grey;"> -haywik </h3>  
</html>
